body{
    background-color: #ffea;
    color: #0f0f0f;
    overflow-x: none;
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.areaSection{
    display: flex;
    flex-direction: column;
}

#color{
    background-color: rgba(1,1,1,0.4);
    width: 100vh;
    height: 500px;
}

#countryName{
    text-align: center;
}

label{
    font-size: 2em;
}

select{
    font-size: 1.2em;
}

.easy-autocomplete, .east-autocomplete-container{
    /* width: 100% !important; */
    position: relative !important;
    margin: auto !important;
    width: 200px !important;
}



.entries{
    height: 35px;
}

.dataSection{
/* margin-left: 80px;    padding-right: 70px; */
display: flex;
flex-direction: row;
}