body{
    background-color: rgba(82, 82, 82, 0.667);
    color: #0f0f0f;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.areaSection{
    display: flex;
    flex-direction: column;
}

#color{
    background-color: rgba(1,1,1,0.4);
    width: 100vh;
    height: 500px;
}

label{
    font-size: 1.2em;
}

select, input{
    font-size: 1.2em;
    width: 90%;
}

.easy-autocomplete, .east-autocomplete-container{
    /* width: 100% !important; */
    position: relative !important;
    /* margin: auto !important; */
    width: 100% !important;
}



.entries{
    height: 35px;
}

.dataSection{
/* margin-left: 80px;    padding-right: 70px; */
display: flex;
flex-direction: row;
}

/* #myChart{
     width: 360;
     height: 600;
} */

.chart-container{
    position: relative; 
    height:57vh; 
}

@media (min-width: 768px){
    .chart-container{
        position: relative; 
        height:80vh; 
    }
}

@media (min-width: 1200px){
  label{
        font-size: 1.6em;
    }
}


@media (max-width: 400px), (max-height: 400px){
    .chart-container{
        margin-bottom: 1.2em;
    }
    label, input{
        font-size: 1.2em;
    }
}

@media (max-height: 400px){
    .chart-container{
        margin-bottom: 1em;
        height: 70vh;
    }
    label{
        font-size: 0.8em;
    }
    select, input{
        /* width: 140px */
    }
    .text-center{
        text-align: left;
    }
}